#cartWidget {
    position: relative;
    width: 120px;
    left: 47px;
}

/*** TOGGLE ***/
#cartWidgetToggle {
    display: block;
    width: 100%;
    /*padding: 20px 0;*/
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: transparent;

}

#cartWidgetToggle span {
    display: inline-block;
    vertical-align: middle;
    color: #696868;
}

#cartWidgetToggle span.quantity {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -25px;
    right: 10px;
    color: #ffffff;
    background: #0066CB;
    background: -webkit-linear-gradient(to right, #05a9ff, #9b55d0);
    background: -moz-linear-gradient(to right, #05a9ff, #9b55d0);
    background: -ms-linear-gradient(to right, #05a9ff, #9b55d0);
    background: linear-gradient(to right, #05a9ff, #9b55d0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#cartWidgetToggle span.quantity .cart-widget-quantity {
    display: block;
    margin: 7px 0 0 0;
    color: #ffffff;
}

#cartWidgetToggle .icon {
    margin: 5px 2px 0 0;
}

#cartWidgetToggle .icon i {
    font-size: 15px;
    color: #ffffff;
}

/*** DROPDOWN ***/
#cartWidgetDropdown {
    display: none;
    position: absolute;
    width: 230px;
    min-height: 90px;
    top: 42px;
    right: 0;
    padding: 0 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 9;
}

/* empty card message */
#cartWidgetDropdown .cart-empty-message {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#cartWidgetDropdown .cart-empty-message.active {
    display: block;
}

/* card items */
#cartWidgetItems .cart-widget-item {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    color: #555555;
}

#cartWidgetItems .cart-widget-item:last-child {
    border: none;
}

#cartWidgetItems .cart-widget-item .cart-item-remove {
    position: absolute;
    right: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #ED3023;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#cartWidgetItems .cart-widget-item .cart-item-remove i {
    margin-top: 2px;
}

#cartWidgetItems .cart-widget-item .image-wrapper {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

#cartWidgetItems .cart-widget-item .caption {
    display: inline-block;
    float: left;
    width: 130px;
}

#cartWidgetItems .cart-widget-item .caption p {
    font-size: 15px;
}

#cartWidgetItems .cart-widget-item .caption .code {
    font-size: 12px;
}

#cartWidgetItems .cart-widget-item .caption .price {
    color: #0066CB;
}

#cartWidgetItems .cart-widget-item .caption .price i {
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    font-weight: 600;
    color: #8c8c8c;
}

#cartWidgetItems .cart-widget-item .caption .price .quantity {
    margin-right: 3px;
    color: #8c8c8c;
    font-size: 12px;
    vertical-align: middle;
}

/*** PRICES ***/
#cartWidgetDropdown .cart-widget-prices {
    margin: 3px 0 15px 0;
    text-align: right;
}

#cartWidgetDropdown .cart-widget-prices span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    vertical-align: bottom;
}

#cartWidgetDropdown .cart-widget-prices .title {
    margin: 0 4px 2px 0;
    font-size: 12px;
    font-style: italic;
    color: #777;
    font-weight: bold;
}

#cartWidgetDropdown .cart-widget-prices .price span {
    font-size: 20px;
    font-style: normal;
    color: #2f2f2f;
}

#cartWidgetDropdown .cart-widget-prices .price .title {
    margin: 0 4px 1px 0;
}

/*** ACTION BUTTONS ***/
#cartWidgetDropdown .cart-widget-action-buttons {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
}

#cartWidgetDropdown .cart-widget-action-buttons a {
    display: inline-block;
    width: 45%;
    padding: 8px 3px;
    color: #ecf0f1;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#cartWidgetDropdown .cart-widget-action-buttons a:first-child {
    float: left;
    background-color: #9b55d0;
}

#cartWidgetDropdown .cart-widget-action-buttons a:last-child {
    float: right;
    background-color: #0066CB;
}

#cartWidgetDropdown .cart-widget-dropdown-element {
    display: none;
}

#cartWidgetDropdown .cart-widget-dropdown-element.active {
    display: block;
}