.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body.no-scroll {
    overflow: hidden;
    max-height: 100%;
}

/******************* CONTAINERS ********************/
.container {
	width: 1280px;
	max-width: 1280px;
	margin: 0 auto;
}

@media(max-width: 1280px) {
	.container {
		width: 95%;
	}
}

/******************* COMMON CLASSES *******************/

.align-left   { text-align: left !important; }
.align-center { text-align: center !important; }
.align-right  { text-align: right !important; }

.warning {
    border: 1px solid #ED3023 !important;
    -webkit-box-shadow: 0 0 2px 0 #ED3023;
    -moz-box-shadow: 0 0 2px 0 #ED3023;
    box-shadow: 0 0 2px 0 #ED3023;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.hidden {
    display: inline-block !important;
    visibility: hidden;
}

/******************* BREADCRUMBS ********************/
.breadcrumbs {
    margin: 20px 8px 40px 0;
    text-transform: lowercase;
}

.breadcrumbs a {
    position: relative;
    color: #2576FD;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.breadcrumbs a .fa-home {
    margin-top: 4px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs a:after {
    display: inline-block;
    margin: 0 0 0 5px;
    color: #b5b5b5;
    content: "/\00a0";
}

.breadcrumbs .crumb-current {
    color: #777777;
    text-decoration: none;
    cursor: default;
}

/******************* BACK TO TOP BUTTON ********************/
#backTop {
    position: fixed;
    width: 45px;
    height: 45px;
    right: 20px;
    bottom: 10px;
    padding: 18px 5px;
    background-color: #309cd5;
    border: 2px solid #309cd5;
    opacity: 0.7;
    cursor: pointer;
    text-align: center;
    z-index: 12;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    display: none;
}

#backTop i {
    display: inline-block;
    padding: 6px;
    border: 1px solid #fff;
    border-width: 0 4px 4px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#backTop:hover {
    opacity: 1;
}

/******************* LOADER AND OVERLAY ********************/
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 998;
    display: none;
}

#overlay {
    display: block;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* spinner */

.loader-spinner {
    display: block;
    width: 64px;
    height: 64px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #309cd5; /* Blue */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation: animate_spinner 2s linear infinite;
}

@keyframes animate_spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* dots */

.loader-dots span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #309cd5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation: animate_scaling 1.5s infinite ease-in-out;
    transform: scale(0.3);
}

.loader-dots span:nth-child(2) {
    margin: 0 4px;
    animation-delay: 0.2s;
}

.loader-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes animate_scaling {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.3);
    }
}

/* ripple */

.loader-ripple span {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #309cd5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    animation: animate_ripple 2.4s infinite linear;
    opacity: 0;
}

.loader-ripple span:nth-child(2) {
    background-color: #309cd5;
    animation-delay: 0.8s;
}

.loader-ripple span:nth-child(3) {
    animation-delay: 1.6s;
}

@keyframes animate_ripple {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }
    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }
    60% {
        transform: scale(0.6);
        opacity: 0.6;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    90% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}


/******************* NC GALLERY ********************/
.nc-gallery {
    margin-top: 20px;
}

.nc-gallery .item {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #ededed;
}

@media(max-width: 480px) {
    .nc-gallery .item {
        text-align: center;
    }

    .nc-gallery .item .title {
        text-align: center;
    }
}

@media (min-width: 481px) {
    .nc-gallery {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 768px) and (min-width: 481px) {
    .nc-gallery {
        justify-content: space-between;
    }

    .nc-gallery .item {
        width: 48%;
    }
}

@media(max-width: 992px) and (min-width: 769px) {
    .nc-gallery .item {
        width: 32%;
    }

    .nc-gallery .item:nth-child(3n+2) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media(min-width: 993px) {
    .nc-gallery .item {
        width: 24%;
    }

    .nc-gallery .item:nth-child(4n+2) {
        margin-right: 0.5%;
        margin-left: 1%;
    }

    .nc-gallery .item:nth-child(4n+3) {
        margin-right: 1%;
        margin-left: 0.5%;
    }
}


/******************* IMAGE WRAPPER ********************/
.bg-image-wrapper {
    height: 200px;
    overflow: hidden;
}

.bg-image-wrapper .bg-image {
    height: 100%;
    width: 100%;
    background: transparent no-repeat center center;
    background-size: cover;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (min-width: 768px) {
    .bg-image-wrapper .bg-image:hover {
        transform: scale(1.2);
    }
}

/******************* RIPPLE EFFECT ********************/
.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple-effect:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.ripple-effect:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


/******************* ELEMENT CENTER ********************/
.element-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/******************* INITIALS ICON ********************/
.initialsIcon {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #f1f1f1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.initialsIcon .initials {
    color: #8c8c8c;
}


/****************** BUTTON TOOLTIP *******************/
.btn-with-tooltip {
    position: relative;
    display: inline-block;
}

.btn-with-tooltip .tooltip-container {
    position: absolute;
    top: -10000px;
    left: 0;
}

.btn-with-tooltip .tooltip-container .tooltip {
    position: absolute;
    width: 130px;
    padding: 0;
    font-size: 14px;
    background-color: #393939;
    color: #fff;
    opacity: 0;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}

.btn-with-tooltip .tooltip-container .tooltip i {
    margin: 0;
    position: absolute;
    left: 10px;
    bottom: -13px;
    color: #393939;
    font-size: 21px;
}

.btn-with-tooltip:hover .tooltip-container {
    top: 0;
}

.btn-with-tooltip:hover .tooltip-container .tooltip {
    top: -45px;
    opacity: 1;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media(max-width: 992px) {
    .btn-with-tooltip .tooltip-container {
        display: none;
    }
}


/********************* COMMENTS **********************/
#pageCommentForm.comments-form-wrapper {
    margin: 0 0 20px;
}

#pageCommentForm.comments-form-wrapper h3 {
    margin: 10px 0 20px;
}

#pageCommentForm.comments-form-wrapper p {
    margin: 0 0 10px;
}

#pageCommentForm.comments-form-wrapper .form-field {
    width: 100%;
    margin: 3px 0 10px;
    padding: 10px;
    border: 1px solid #e2e2e2;
}

#pageCommentForm.comments-form-wrapper textarea.form-field {
    border: 1px solid #e2e2e2;
    width: 100%;
    padding: 10px;
    height: 150px;
}

#pageCommentForm.comments-form-wrapper button {
    padding: 10px 20px;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    display: block;
}

#pageComments.comments {
    margin-top: 50px;
}

#pageComments.comments .comment {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e2e2e2;
}

#pageComments.comments .comment.child {
    margin-top: 10px;
    margin-bottom: 0;
}

#pageComments.comments .comment:last-child {
    margin-bottom: 0;
}

#pageComments.comments .comment .avatar i {
    font-size: 60px;
    color: #ffffff;
    background-color: #d6d6d6;
    border: 4px solid #d6d6d6;
}

#pageComments.comments .comment .desc span {
    display: block;
    font-size: 13px;
}

#pageComments.comments .comment .desc span.date {
    font-size: 11px;
}

#pageComments.comments .comment .desc .message {
    margin-top: 7px;
    font-size: 14px;
    word-wrap: break-word;
}

#pageComments.comments .comment .comment-reply-wrapper {
    text-align: right;
}

#pageComments.comments .comment .comment-reply-wrapper button {
    padding: 5px 12px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    font-family: Museo500-Regular, sans-serif;
}

#pageComments .reply-form-wrapper {
    margin-top: 10px;
}

#pageComments .reply-form-wrapper .close-reply-wrapper {
    padding: 20px 0;
    text-align: right;
}

#pageComments .reply-form-wrapper .close-reply-wrapper button {
    font-size: 18px;
}

#pageComments .reply-form-wrapper label {
    font-size: 14px;
}

#pageComments .reply-form-wrapper .form-field {
    margin-bottom: 10px;
}

#pageComments .reply-form-wrapper button {
    padding: 5px 12px;
    font-size: 14px;
}

#pageComments .g-recaptcha-wrapper {
    margin: 10px 0;
}

@media (min-width: 769px) {
    #pageComments.comments .comment .avatar {
        float: left;
        width: 10%;
    }

    #pageComments.comments .comment .desc {
        float: right;
        width: 90%;
    }
}