@import 'normalize.min.css';


/**********************************************************
*                       EDITABLE                          *
**********************************************************/

body {
    font-family: Arial, sans-serif;
    color: #696868;
    font-size: 15px;
}

@media (min-width: 992px) {
    .inner-wrapper {
        display: inline-block;
        float: right;
        width: 73%;
    }
}


/************ HEADER ************/
/*header {*/
/*  padding: 20px 0;*/
/*  margin-bottom: 10px;*/
/*  border: 1px solid #e5e5e5;*/
/*}*/

/*header .site-logo {*/
/*  display: inline-block;*/
/*  max-width: 200px;*/
/*}*/

/*header .site-logo a {*/
/*  font-size: 30px;*/
/*  color: #fff;*/
/*}*/

/*header .social a {*/
/*  color: #007cc5;*/
/*  font-size: 25px;*/
/*}*/

/*header .social a:nth-child(2) {*/
/*  margin: 0 2px;*/
/*}*/

/*@media (max-width: 350px) {*/
/*  header .site-logo {*/
/*    display: block;*/
/*    margin: 0 auto 10px;*/
/*  }*/

/*  #cartWidget {*/
/*    margin: 40px auto 0;*/
/*  }*/
/*}*/

/*@media (min-width: 350px) {*/
/*  header .container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*  }*/
/*}*/

/*@media (max-width: 768px) {*/
/*  header .menu-opener-wrapper,*/
/*  header #mainMenu {*/
/*    width: 100%;*/
/*  }*/
/*}*/

/*@media (min-width: 769px) {*/
/*  header #cartWidget {*/
/*    order: 3;*/
/*  }*/
/*}*/

header {
    margin-bottom: 0;
    /*-webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.85);*/
    /*box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.85);*/
    margin-left: -4px;
}

header:after {
    content: " ";
    position: absolute;
    bottom: 780px;
    left: 0;
    width: 100%;
    height: 4px;
    background: url('img/bg-top.png') repeat-x;
    z-index: 101;
}

header .top-bar {
    background-color:#006072 ;
    height: 50px;
    display: flex;
    align-items: center;
}

header .top-bar .container {
    display: flex;
    justify-content: space-between;
}

header .top-bar .container .top-bar-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

header .top-bar .container .top-bar-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

header .top-bar .container .top-bar-right a {
    color: #ffffff;
    text-transform: uppercase;
}

header .top-bar .container .top-bar-right .top-bar-divider {
    color: #ffffff;
    margin: 0 10px;
}

header .top-bar .container .top-bar-left a {
    color: #ffffff;
    text-transform: uppercase;
}

header .top-bar .container .top-bar-left .top-bar-divider {
    color: #ffffff;
    margin: 0 10px;
}

header .middle-bar-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

header .middle-bar-wrapper .empty {
    width: 30%;
}

header .middle-bar-wrapper .widget-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



header .middle-bar-wrapper .site-logo {
    width: 30%;
    display: flex;
    justify-content: center;
}

header .middle-bar-wrapper .widget-wrapper .search-wrapper form {
    display: flex;
    align-items: center;
}

header .middle-bar-wrapper .widget-wrapper .search-wrapper form .search-input {
    height: 30px;
    border: 1px solid #006072;
}

header .middle-bar-wrapper .widget-wrapper .search-wrapper button {
    background-color: #006072;
    height: 30px;
    width: 30px;
}

header .middle-bar-wrapper .widget-wrapper .search-wrapper button img {
    width: 100%;
}

header .middle-bar-wrapper .widget-wrapper #cartWidget #cartWidgetToggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

header .middle-bar-wrapper .widget-wrapper #cartWidget #cartWidgetToggle .icon {
    background-color: #006072;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/************ FOOTER ************/
footer {
    padding: 5px 0;
    background-color: #efefef;
    text-align: center;
}

footer a {
    color: #007cc5;
}

@media (min-width: 992px) {
    footer a:hover {
        text-decoration: underline;
    }
}

/************ LANGUAGES ************/
.languages a {
    display: inline-block;
    margin-right: 7px;
    color: #ffffff;
}

.languages a:last-child {
    margin: 0;
}

.languages a.active {
    color: #007cc5;
}

@media (min-width: 769px) {
    .languages {
        display: inline-block;
        float: right;
        padding: 8px 0 0;
    }
}

@media (max-width: 768px) {
    .languages {
        display: block;
        float: none;
        text-align: center;
        padding: 8px 0;
    }
}

/***************** SEARCH FORM *****************/

#searchOverlay {
    background-color: rgba(0, 124, 197, 0.96);
}

#searchOverlay button {
    background-color: transparent;
    position: fixed;
    top: 40px;
    right: 5%;
}

#searchOverlay button i {
    font-size: 50px;
    color: #ffffff;
}

#searchOverlay .search-form-wrapper {
    width: 80%;
    max-width: 800px;
    z-index: 999;
}

#searchOverlay .search-form-wrapper h3 {
    margin-bottom: 70px;
    font-size: 60px;
    color: #ffffff;
}

#searchOverlay .search-form-wrapper .field {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
}

#searchOverlay .search-form-wrapper button {
    position: absolute;
    right: 0;
    bottom: -60px;
    background-color: transparent;
    font-size: 30px;
}

#searchOverlay .search-form-wrapper button i {
    color: #ffffff;
}

/***************** ARTICLE *****************/

.articles .article {
    margin-bottom: 20px;
    padding-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(200, 200, 200, 0.5);
    -moz-box-shadow: 0 2px 5px 0 rgba(200, 200, 200, 0.5);
    box-shadow: 0 2px 5px 0 rgba(200, 200, 200, 0.5);
}

.articles .article .title {
    margin: 10px 0;
    color: #007cc5;
}

.articles .article .content {
    padding: 0 10px;
}

.articles .article .content .intro-text {
    font-size: 14px;
}

.articles .article .content .more {
    color: #45aa34;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.articles .article .content .more:active {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .articles .article .content .more:hover {
        text-decoration: underline;
    }
}

.page-content ul,
.page-content ol {
    padding-left: 20px;
}

.page-content ul li {
    list-style-type: disc;
}

.page-content ol li {
    list-style-type: decimal;
}