.sidebar-navigation {
    display: inline-block;
    width: 26%;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 3px 1px rgba(147, 147, 147, 0.3);
    -moz-box-shadow: 0 1px 3px 1px rgba(147, 147, 147, 0.3);
    box-shadow: 0 1px 3px 1px rgba(147, 147, 147, 0.3);
}

.sidebar-navigation .title {
    margin: 0 !important;
    padding: 10px 10px;
    background-color: #2576FD;
    color: #ffffff;
    font-size: 19px;
    text-transform: uppercase;
}

.sidebar-shop ul li {
    position: relative;
}

.sidebar-navigation a {
    display: block;
    padding: 12px 5px 11px;
    color: #696868;
    font-size: 15px;
    font-weight: 600;
}

.sidebar-navigation a.product-link {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-navigation .line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
}

.sidebar-navigation .category-item a {
    display: inline-block;
    /*width: 80%;*/
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-navigation a.product-link:after,
.sidebar-navigation .category-item a.link:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 11px;
    background-color: #e5e5e5;
}

.sidebar-navigation .sub-category.active a {
    color: #696868;
}

.sidebar-navigation .sub-category {
    display: none;
}

.sidebar-navigation .sub-category.active {
    padding-left: 15px;
}


/* last item */
.sidebar-navigation .sub-category .last-category-item a {
    display: block;
    width: 100%;
}

.sidebar-navigation a.product-link:before,
.sidebar-navigation .sub-category .last-category-item a:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 23px;
    margin: -2px 5px 0 0;
    padding: 2px;
    border: 1px solid #309cd5;
    border-width: 0 2px 2px 0;
    vertical-align: middle;
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
}

.sidebar-navigation .link-wrapper {
    display: block;
}

.sidebar-navigation .link-wrapper.active {
    background-color: rgba(38, 38, 38, 0.7);
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.sidebar-navigation a.link.active {
    padding-left: 15px;
    color: #309cd5;
}

.sidebar-navigation a.link span {
    display: inline-block;
    padding: 0 0 0 10px;
    font-weight: 600;
}

/* opener */
.sidebar-navigation .category-item .opener {
    display: inline-block;
    padding: 0 !important;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 5px;
}

.sidebar-navigation .category-item .opener i {
    color: #696868;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-navigation .category-item .opener.active i {
    transform: rotate(180deg) translate(50%, 50%);
}

@media(max-width: 992px) {

    /* opener/closer */
    .sidebar-opener-wrapper,
    .sidebar-closer-wrapper {
        display: block;
    }

    .sidebar-opener-wrapper button,
    .sidebar-closer-wrapper button {
        display: inline-block;
        border: none;
        cursor: pointer;
        background-color: transparent;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .sidebar-opener-wrapper button .bar,
    .sidebar-closer-wrapper button .bar {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #309cd5;
        margin: 6px 0;
        transition: 0.4s;
    }

    .sidebar-opener-wrapper button.active .bar:nth-child(1),
    .sidebar-closer-wrapper button.active .bar:nth-child(1) {
        -webkit-transform: rotate(-45deg) translate(-8px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .sidebar-opener-wrapper button.active .bar:nth-child(2),
    .sidebar-closer-wrapper button.active .bar:nth-child(2) {
        opacity: 0;
    }

    .sidebar-opener-wrapper button.active .bar:nth-child(3),
    .sidebar-closer-wrapper button.active .bar:nth-child(3) {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
    }

    /* main-menu */
    .sidebar-navigation .main-menu .menu-item.active a {
        color: #309cd5;
    }

    /* sidebar */
    .sidebar-navigation {
        position: fixed;
        width: 100%;
        max-width: 300px;
        height: 100%;
        top: 0;
        left: -400px;
        z-index: 999;
        overflow: auto;
    }

    .sidebar-navigation .main-menu {
        display: block;
    }

    .sidebar-navigation .main-menu .menu-items li.menu-item {
        position: relative;
    }

    .sidebar-navigation .main-menu .menu-items li.menu-item a {
        padding: 12px 5px 11px 30px;
        font-size: 15px;
        font-weight: bold;
    }

    .sidebar-navigation .main-menu .menu-items li.menu-item .menu-item-img {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 4px;
    }

    .sidebar-navigation .title {
        margin: 4px 0 7px 0;
        background-color: #2576FD;
        color: #ffffff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .sidebar-navigation .category-item a {
        font-size: 15px;
    }
}


@media(min-width: 993px) {

    /* opener/closer */
    .sidebar-opener-wrapper,
    .sidebar-closer-wrapper {
        display: none;
    }

    /* main-menu */
    .sidebar-navigation .main-menu {
        display: none !important;
    }

    .sidebar-navigation {
        z-index: 1;
        min-height: 290px;
    }

    .sidebar-shop {
        position: relative;
        padding: 0 8px;
        height: 100% !important;
        overflow-y: auto;
    }

    .sidebar-navigation a.product-link:hover,
    .sidebar-navigation .category-item a:hover {
        padding-left: 15px;
        color: #309cd5;
    }
}