#shopCategoryPage .category-desc {
    margin: 0 0 30px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

#shopCategoryPage .category-desc .category-image {
    float: left;
    width: 15%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#shopCategoryPage .category-desc .page-content.with-image {
    float: right;
    width: 85%;
}


/* categories list */

#shopCategoryPage .categories-title {
    margin: 0 0 20px;
    font-size: 21px;
}

#shopCategoryPage .categories .category {
    margin-bottom: 20px;
}

#shopCategoryPage .categories .category .title {
    margin: 4px 0 0;
    font-size: 20px;
    color: #2f2f2f;
    text-align: center;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

#shopCategoryPage .categories .category .title a {
    color: #696868;
}

#shopCategoryPage .categories .category .bg-image-wrapper {
    border: 1px solid #e5e5e5
}

@media (min-width: 480px) {
    #shopCategoryPage .categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #shopCategoryPage .categories .category {
        width: 49%;
    }
}

@media (min-width: 768px) {
    #shopCategoryPage .categories {
        justify-content: unset;
    }

    #shopCategoryPage .categories .category {
        width: 32%;
    }

    #shopCategoryPage .categories .category:nth-child(3n+2) {
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media (min-width: 992px) {
    #shopCategoryPage .categories .category {
        width: 24%;
    }

    #shopCategoryPage .categories .category:nth-child(3n+2) {
        margin-right: 0;
        margin-left: 0;
    }

    #shopCategoryPage .categories .category:nth-child(4n+2),
    #shopCategoryPage .categories .category:nth-child(4n+3) {
        margin-right: 1%;
        margin-left: 1%;
    }

    #shopCategoryPage .categories .category .title a:hover {
        color: #309cd5;
    }

    #shopCategoryPage .categories .category .bg-image-wrapper:hover {
        border-color:  #309cd5;
    }
}