#orderPage .form-wrapper .form-section {
    width: 100%;
    margin: 10px 0 0;
}

#orderPage .form-wrapper .form-section.big {
    width: 100%;
}

#orderPage .form-wrapper .form-section label {
    color: #777777;
}

#orderPage .form-wrapper .form-section .form-field {
    display: block;
    width: 100%;
    margin: 5px 0 0;
    padding: 9px 12px;
    color: #777777;
    border: 1px solid #05a9ff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#orderPage .form-wrapper .form-section textarea.form-field {
    width: 100%;
    height: 150px;
}

#orderPage .form-wrapper .form-buttons {
    text-align: right;
}

#orderPage .form-wrapper .form-buttons button {
    min-width: 130px;
    padding: 10px 12px;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#orderPage .form-wrapper .form-buttons button.form-btn-clear {
    background-color: #ED3023;
    border: 1px solid #ED3023;
}

#orderPage .form-wrapper .form-buttons button.form-btn-submit {
    margin-left: 15px;
    background-color: #2576FD;
}

#orderPage .form-wrapper .form-buttons button.form-btn-submit:active,
#orderPage .form-wrapper .form-buttons button.form-btn-clear:active {
    opacity: 0.8;
}

@media(max-width: 480px) {
    #orderPage .form-wrapper .form-buttons {
        text-align: center;
    }

    #orderPage .form-wrapper .form-buttons button {
        min-width: auto;
        width: 100%;
    }

    #orderPage .form-wrapper .form-buttons button.form-btn-submit {
        margin: 15px 0 0;
    }
}

@media(min-width: 768px) {
    #orderPage .form-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #orderPage .form-wrapper .form-section {
        width: 49%;
    }
}

@media(min-width: 992px) {
    #orderPage .form-wrapper .form-buttons button.form-btn-clear:hover {
        opacity: 0.8;
    }
}