#productPage .page-title {
    margin-bottom: 10px;
    color: #006072;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
}


#productPage label {
    cursor: default;
}

/* subtitle */
#productPage .page-subtitle {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #006072;
}

#productPage .info-wrapper {
    margin-bottom: 10px;
}

#productPage .info-wrapper label {
    display: inline-block;
    margin: 3px 6px 0 0;
    color: #696868;
    font-size: 16px;
    vertical-align: middle;
}

#productPage .info-wrapper .info-value {
    font-size: 20px;
    color: #696868;
}

/* code */
#productPage .code-wrapper .info-value {
    color: #9b55d0;
}

/* vendor */
#productPage .vendor-name {
    margin-bottom: 10px;
}

#productPage .vendor-name a {
    color: #2576FD !important;
}

#productPage .vendor-image {
    max-width: 250px;
}

#productPage .vendor-name .btn-with-tooltip .tooltip-container .tooltip {
    width: 300px;
}

/* price */
#productPage .price-wrapper .price-without-discount {
    margin-bottom: 5px;
}

#productPage .price-wrapper .price-without-discount span {
    text-decoration: line-through;
    font-size: 20px;
}

#productPage .price-wrapper .discount span {
    font-size: 20px;
    color: #ED3023;
}

#productPage .price-wrapper .price label {
    font-size: 30px;
}

#productPage .price-wrapper .price span {
    font-size: 34px;
    color: #309cd5;
}

#productPage .featured-image.bg-image-wrapper {
    height: 400px;
    border: 1px solid #ededed;
}

#productPage .featured-image.bg-image-wrapper .bg-image {
    height: 100%;
    background-size: contain;
}

#productPage .nc-gallery .item .bg-image-wrapper {
    height: 100%;
}

#productPage .nc-gallery .item .bg-image-wrapper .bg-image {
    background-size: contain;
}

#productPage .action-buttons-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#productPage .action-buttons-wrapper .quantity {
    width: 50%;
    padding: 11px 8px;
    text-align: center;
    border: 1px solid #dddddd;
    color: #4a4a4a;
    font-size: 17px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

#productPage .action-buttons-wrapper .quantity:focus {
    -webkit-box-shadow: 0 0 2px 0 #309cd5;
    -moz-box-shadow: 0 0 2px 0 #309cd5;
    box-shadow: 0 0 2px 0 #309cd5;
}

#productPage .action-buttons-wrapper .cart-item-add {
    width: 50%;
    padding: 12px 5px;
    background-color: #309cd5;
    color: #ffffff;
    font-size: 17px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#productPage .action-buttons-wrapper .cart-item-add .cart-icon {
    margin: 0 5px 0 0;
}

#productPage .action-buttons-wrapper .cart-item-add .spinner-icon {
    display: none;
}

#productPage .action-buttons-wrapper .cart-item-add.disabled span {
    display: none;
}

#productPage .action-buttons-wrapper .cart-item-add.disabled .cart-icon {
    display: none;
}

#productPage .action-buttons-wrapper .cart-item-add.disabled .spinner-icon {
    display: inline-block;
    animation: animateSpinner linear 0.9s infinite;
}

/*** CONTENT ***/
#productPage .page-content {
    margin-top: 30px;
}


#productPage .nc-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#productPage .nc-gallery .item {
    height: 70px;
    width: 20%;
    margin: 0 !important;
}

@media(max-width: 575px) {
    #productPage .page-title,
    #productPage .page-left {
        text-align: center;
    }

    #productPage .page-left .vendor-image {
         margin: auto;
    }

    #productPage .action-buttons-wrapper {
        margin-bottom: 20px;
    }
}

@media (min-width: 332px) {
    #productPage .nc-gallery .item {
        height: 70px;
    }
}

@media (min-width: 480px) {
    #productPage .nc-gallery .item {
        height: 100px;
    }
}

@media (min-width: 576px) {
    #productPage .product-wrapper {
        display: flex;
        justify-content: space-between;
    }

    #productPage .page-left {
        width: 45%;
    }

    #productPage .page-right {
        width: 50%;
    }

    #productPage .nc-gallery .item {
        height: 70px;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    #productPage .action-buttons-wrapper .quantity {
        width: 42%;
    }

    #productPage .action-buttons-wrapper .cart-item-add {
        width: 58%;
    }
}

@media (min-width: 768px) {
    #productPage .nc-gallery .item {
        height: 80px;
    }
}

@media(min-width: 992px) {
    #productPage .link-wrapper a:hover {
        text-decoration: none;
    }

    #productPage .nc-gallery .item {
        height: 75px;
    }
}

@media(min-width: 1200px) {
    #productPage .nc-gallery .item {
        height: 90px;
    }
}