.upload-button-wrapper {
    position: relative;
    display: inline-block;
    min-height: 40px;
}

.upload-button-wrapper input[type="file"] {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    padding: 4px 0;
    overflow: hidden;
    border: 1px solid #319db5;
}

.upload-button-wrapper .upload-file-button {
    position: absolute;
    width: 100px;
    padding: 8px 10px;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #319db5;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border: none;
    outline: none;
}