html{height:100%}
.sidebar-collapsed .topbar .header-left .topnav{float:left;height:50px;margin:0}
.sidebar-mailbox.sidebar .sidebar-charts{margin-bottom:10px}
.sidebar-mailbox.sidebar .sidebar-inner .nav-sidebar > li > a{padding:13px 20px 10px!important}
.sidebar-light:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a i{font-size:16px}
.sidebar-light.boxed.fixed-topbar .sidebar{top:0}
.sidebar .sidebar-inner .nav-sidebar > li > a:hover span:not(.badge){opacity:1!important}
.fixed-sidebar .sidebar{top:0}
.fixed-sidebar .logopanel{top:0}
.theme-sltl .logopanel{-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;filter:none}
.sidebar-light.fixed-sidebar:not(.sidebar-collapsed) .sidebar .sidebar-inner{margin-top:90px}
.theme-sltl.boxed .logopanel{-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;filter:none}
.boxed.fixed-topbar section .main-content .topbar{position:fixed;-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none;filter:none}
.boxed.fixed-topbar .main-content .page-content{margin-top:50px}
body.boxed:not(.fixed-sidebar) .sidebar:before{bottom:0;content:"";display:block;position:fixed;top:0;width:inherit;z-index:-1}
body.boxed.bg-clean .sidebar:before{background-color:#f8f8f8}
body.boxed.bg-lighter .sidebar:before{background-color:#efefef}
body.boxed.bg-light-default .sidebar:before{background-color:#e9e9e9}
body.boxed.bg-light-blue .sidebar:before{background-color:#e2ebef}
body.boxed.bg-light-purple .sidebar:before{background-color:#e9ecf5}
body.boxed.bg-light-dark .sidebar:before{background-color:#dce1e4}
.sidebar-collapsed .sidebar,.sidebar-collapsed .sidebar-inner{height:100%!important}
.sidebar-collapsed .sidebar{-moz-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);-o-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.1),Direction=135,Strength=5)}
.sidebar-collapsed .sidebar .sidebar-inner{-moz-box-shadow:none!important;-webkit-box-shadow:none!important;-o-box-shadow:none!important;box-shadow:none!important;filter:none!important}
.sidebar-collapsed.boxed .sidebar .sidebar-inner .nav-sidebar{margin:0}
.sidebar-light.sidebar-collapsed.boxed.fixed-topbar .sidebar{top:0}
.sidebar .logopanel h1 a{background:url(../../../global/images/logo/logo-dark.png) no-repeat}
.theme-sdtd .sidebar .logopanel h1 a{background:url(../../../global/images/logo/logo-white.png) no-repeat}
.theme-sltl .sidebar .sidebar-inner{-moz-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);-o-box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.1),Direction=135,Strength=5)}
.theme-sltl .topbar{border-bottom:1px solid rgba(0,0,0,0.05)}
.theme-sltl .logopanel{border-bottom:1px solid rgba(0,0,0,0.05)}
/*.theme-sltl .sidebar .logopanel h1 a{background:url(../../../global/images/logo/logo-dark.png) no-repeat!important}*/
.theme-sdtl.color-default:not(.sidebar-top) .logopanel,.theme-sdtl.color-primary:not(.sidebar-top) .logopanel,.theme-sdtl.color-red:not(.sidebar-top) .logopanel,.theme-sdtl.color-green:not(.sidebar-top) .logopanel,.theme-sdtl.color-orange:not(.sidebar-top) .logopanel,.theme-sdtl.color-purple:not(.sidebar-top) .logopanel,.theme-sdtl.color-blue:not(.sidebar-top) .logopanel{background:#fff}
.theme-sltl.color-primary .sidebar .logopanel{background:#dde6e9}
.theme-sltl.color-red .sidebar .logopanel{background:#f8f3f1}
.theme-sltl.color-green .sidebar .logopanel{background:#f1f8f3}
.theme-sltl.color-orange .sidebar .logopanel{background:#f8f4f1}
.theme-sltl.color-purple .sidebar .logopanel{background:#f3f2f7}
.theme-sltl.color-blue .sidebar .logopanel{background:#f2f4f7}
.boxed .main-content { height: 100%;}
#page-builder{left:255px}
@media (min-width: 1600px) {
  .dashboard.boxed .col-clock, .dashboard.boxed .col-financial-stocks {display: none !important;}
  .dashboard.boxed .col-visitors {width: 41.6666666%;}
  .dashboard.boxed .col-small-stats {width: 50%;}
  .dashboard.boxed .widget-stock .company-info {display: none}
}
@media (min-width: 1300px) {
  .app > aside.aside-sm{background:inherit;width:470px}
}
body.boxed {height: auto}
.boxed.fixed-topbar section .main-content .topbar { position: fixed}
.boxed.fixed-topbar.sidebar-show > section{ overflow: hidden;}
@media screen and (max-width: 1024px){
  body.boxed {height: 100%}
  .sidebar-show .topbar {width: 100%;}
}
.boxed.fixed-topbar .main-content .page-content { margin-top: 50px;}
@media (min-width: 1024px) and (max-width:1200px) {
  .boxed.fixed-topbar:not(.sidebar-collapsed) section .main-content .topbar {right: 0 !important; left: 190px !important; width: auto;}
  .boxed.sidebar-collapsed .sidebar { top: 0;}
}