/* SLIDER */
.slider-wrapper {
    position: relative;
    width: 100%;
    color: #fff;
    margin: 0 0 30px 0;
    background-color: #EDEDED;
}

#slider {
    position: relative;
    width: 100%;
}

.slides-wrapper {
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-image: url("../../media/slider-thalgo-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slides-wrapper .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}

.slides-wrapper .slide .slide-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slides-wrapper .slide img {
    display: block;
    margin: 0 auto;
    max-height: 460px;
}

.slides-wrapper .slide:first-child {
    display: block;
}

@media (max-width: 332px) {
    .slides-wrapper {
        height: 140px;
    }
}

@media (min-width: 332px) {
    .slides-wrapper {
        height: 140px;
    }
}

@media (min-width: 480px) {
    .slides-wrapper {
        height: 200px;
    }
}

@media (min-width: 550px) {
    .slides-wrapper {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .slides-wrapper {
        height: 290px;
    }
}

@media (min-width: 992px) {
    .slides-wrapper {
        height: 500px;
    }
}

/* link */
.slide-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* caption */
.slide-caption {
    display: block;
    position: absolute;
    width: 31%;
    height: 418px;
    max-height: 100%;
    bottom: 10px;
    left: 50%;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #025e70;
    font-size: 18px;
    overflow-y: auto;
    z-index: 2;
}


/* bullets */
.slider-bullets {
    position: absolute;
    left: 50%;    
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);  
    height: 15px;
    bottom: 15px;
    text-align: center;
}

.slider-bullets .slider-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: rgba(0, 124, 197, 0.5);
    border: 2px solid #309cd5;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    cursor: pointer;
    z-index: 2;
}

.slider-bullets .slider-bullet:hover,
.slider-bullets .slider-bullet.active {
    background-color: rgba(0, 124, 197, 1);
}


/* navigation */
.slider-navigation {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);  
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    opacity: 0.7;
    text-align: center;
    z-index: 2;
}

.slider-navigation i {
    border: 1px solid #016074;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;

}

.slider-navigation:hover {
    opacity: 1;
}

.slider-navigation.slide-prev {
    left: 0;
    padding: 25px 0 0 0;
}

.slider-navigation.slide-next {
    right: 0;
    padding: 25px 0 0 0;
}

.slider-navigation.slide-prev i {
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);  
}

.slider-navigation.slide-next i {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);     
}

.slideFadeIn {
    -webkit-animation-name: slideFadeIn;
    -webkit-animation-duration: 1.5s;
    animation-name: slideFadeIn;
    animation-duration: 1.5s;
}

@-webkit-keyframes slideFadeIn {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}