.carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper .carousel-inner-wrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel-wrapper ul.carousel {
    position: relative;
    width: 100%;
    min-width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.carousel-wrapper ul.carousel li.carousel-item {
    display: inline-block;
    float: left;
    height: auto;
    width: 100px;
    list-style: none;
}

.carousel-wrapper ul.carousel li.carousel-item .item-inner-wrapper {
    position: relative;
    height: 100%;
    width: 90%;
    margin: auto;
}

.carousel-wrapper .carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-wrapper .carousel-navigation.carousel-item-prev {
    left: 0;
}

.carousel-wrapper .carousel-navigation.carousel-item-next {
    right: 0;
}