/************ PRODUCTS SECTION ************/

#homePage .products-list .product {
    display: block;
    margin-bottom: 20px;
}

@media(min-width: 480px) {
    #homePage .products-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #homePage .products-list .product {
        width: 49%;
    }

    #homePage .products-list .product {
        margin-bottom: 1%;
    }
}

@media(min-width: 768px) {
    #homePage .products-list .product {
        width: 32%;
    }

    #homePage .products-list .product {
        margin-bottom: 2%;
    }
}


/************ CATEGORIES SECTION ************/

#homePage .categories .category {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

@media (min-width: 480px) {
    #homePage .categories {
        display: flex;
        justify-content: space-between;
    }

    #homePage .categories .category {
        width: 49.5%;
    }
}


/************ NEWS SECTION ************/

#homePage .news {
    padding: 30px 0 50px;
}

#homePage .news h2 {
    width: 100%;
    color: #0066CB;
    margin-bottom: 20px;
}

@media (min-width: 575px) {
    #homePage .news .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #homePage .news .article {
        width: 32%;
        margin-bottom: 0;
    }
}

/************ ABOUT SECTION ************/

#homePage .about {
    padding: 30px 0 50px;
    background-color: #efefef;
}

#homePage .about h2 {
    color: #0066CB;
    margin-bottom: 20px;
}

#homePage .about p {
    margin-bottom: 15px;
}

#homePage .about p span {
    color: #0066CB;
}

#homePage .about ul {
    padding-left: 20px;
}

#homePage .about ul li {
    list-style: initial;
    margin-bottom: 3px;
}

#homePage .about .left {
    margin-bottom: 20px;
}


@media(min-width: 992px) {
    #homePage .about .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    #homePage .about .left {
        width: 40%;
        margin-bottom: 0;
    }

    #homePage .about .left .image {
        -webkit-clip-path: polygon(83% 0, 97% 51%, 83% 100%, 0 100%, 11% 48%, 0% 0%);
        clip-path: polygon(83% 0, 97% 51%, 83% 100%, 0 100%, 11% 48%, 0% 0%);
    }

    #homePage .about .right {
        width: 55%;
    }
}

/************ NEWSLETTER SECTION ************/

#homePage #siteNewsletter {
    margin-top: 0;
}